__pycache__
experiment/
models/
pred_data/
runs/
scg/
scpGAN_original/
scPreGAN_chkp_cd14/
scPreGAN_chkp_cd19/
scPreGAN_pred/
scPreGANac_predcd14/
scPreGANac_predcd19/
scpGANac_original/
scPreGANac_tunecd19/
scPreGANac_chkp_cd19/
stvae/
stvae-source/
stvae3.7/
datasets/*
stvae38/
tmpbaqxnyn0/
